# .env file example for local development
# Change the variable value according to your environment
DB_USER=user_exemplo
DB_PASSWORD=senha_exemplo
DB_NAME=db_exemplo
DB_PORT=5432
DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}